@model DoAnMon.Models.BoDe

@{
    ViewBag.Title = "Xoabode";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>XÁC NHẬN XÓA</h2>

<h3>Bạn có muốn xóa?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenBoDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenBoDe)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "BoDe")
        </div>
    }
</div>
