
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 cl="mb-2">Cảm ơn bạn đã tin tưởng chúng tôi</h2>
        </div>
        <a @Html.ActionLink("Cảm ơn bạn đã tin tưởng chúng tôi", "Index", "LoginHome")</a> » <span class="breadcrumb_last" aria-current="page">Xác nhận, cảm ơn</span>
    </div>
</nav>
<!-- !contact breadcrumbs -->
<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <div class="container pb-lg-3">
            <h2 class="text-lg-center">Đơn hàng của quý khách đã được chúng tui ghi nhận. Chúng tôi dẽ liên hệ quý khách trong thời gian sớm nhất</h2>

            <img class="full-image" src="~/images/Blog-image-2020-04-07@2x.png" />
        </div>
    </div>
</section>