
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<h2>Đơn hàng của quý khách đã được chúng tui ghi nhận. Chúng tôi dẽ liên hệ quý khách trong thời gian sớm nhất</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "Login")
</p>