
@{
    ViewBag.Title = "About";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- about breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Về chúng tôi</h2>
        </div>
        <a href="index.html">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Về chúng tôi</span>
    </div>
</nav>
<!-- /about breadcrumbs -->
<section class="w3l-about1" id="about">
    <div id="content-with-photo4-block" class="pt-5">
        <div class="container py-md-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="cwp4-two row">

                        <div class="cwp4-text col-lg-6">
                            <h3>Chúng tôi là ai?</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>

                            <ul class="cont-4">
                                <li><span class="fa fa-check"></span>Website luyện thi trực tuyến</li>
                                <li><span class="fa fa-check"></span>Hỗ trợ trực tuyến </li>
                                <li><span class="fa fa-check"></span>Cung cấp đề thi đầy đủ, chi tiết</li>
                                <li><span class="fa fa-check"></span>Hộ trợ giải thích, tư vấn </li>
                            </ul>
                        </div>
                        <div class="cwp4-image col-lg-6 pl-lg-5 mt-lg-0 mt-5">
                            <img src="~/images/about.jpg" class="img-fluid shadow img-curve" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-about2">
    <div class="features py-5">
        <div class="container py-lg-3">
            <div class="row pt-md-3">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="fea-gd-vv">
                        <div class="float-lt feature-gd">
                            <div class="about-info">
                                <h5>Lý lịch của chúng tôi</h5>
                                <p>
                                    Sinh viên trường Đại Học Công Nghệ TP.HCM, khoa công nghệ thông tin, chuyên ngành An Toàn Thông Tin.
                                </p>
                               
                            </div>

                        </div>
                        <div class="float-mid feature-gd mt-5">
                            <div class="about-info">
                                <h5>Dự định</h5>
                                <p><strong>Liên tục phát triển website trong thời gian tới, cập nhật sữa chữa những lỗi còn tồn tại.</strong></p>
                                <p>
                                    Mong được sự đóng góp phát triển từ mọi người .
                                </p>
                            </div>
                        </div
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about -->
<section class="w3l-about4 py-5">
    <div class="container py-lg-3">
        <div class="row pt-md-3">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="row align-items-center">
                    <div class="col-md-6 book-info">
                        <h3 class="mb-md-4 mb-3">Bạn có thể liên hệ với chúng tôi ngay tại đây</h3>
                        <a href="https://localhost:44346/Home/Contact?Length=4" class="btn btn-primary theme-button">Liên hệ</a>
                    </div>
                    <div class="col-md-6 mt-md-0 mt-4">
                        <img src="~/images/s3.jpg" class="img-fluid img-curve shadow" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<section class="w3l-about3">
    <!-- /features -->
    <div class="features py-5" id="services">
        <div class="container py-lg-3">
            <div class="header-section text-center">
                <h3>Education for Everyone</h3>
                <p class="my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti sit labore dolores aliquam possimus deleniti cupiditate temporibus, repudiandae suscipit asperiores vel.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-laptop" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Experience Design</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-pencil-square-o" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Product Course</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-podcast" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Content Engineering</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-users" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Coaching Course</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-book" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Content Engineering</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="feature-gd">
                        <div class="icon"> <span class="fa fa-laptop" aria-hidden="true"></span></div>
                        <div class="icon-info">
                            <h5 class="my-3"><a href="#url">Experience Design</a></h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua, quis nostrud.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //features -->
</section>
<section class="w3l-about5" id="about">
    <div class="new-block py-3">
        <div class="container py-lg-5">
            <div class="middle-section text-center">
                <div class="header-section text-center mx-auto">
                    <h3>Learn from any location in the world</h3>
                    <p class="my-3">
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                        Nulla mollis dapibus nunc, ut rhoncus
                        turpis sodales quis. Integer sit amet mattis quam.
                    </p>
                </div>
                <div class="history-info mt-5">
                    <div class="position-relative">
                        <img src="~/images/b2.jpg" class="img-fluid img-curve video-popup-image" alt="video-popup">
                        <!-- <a href="#popup-video" class="play-view text-center position-absolute">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                </a> -->

                        <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                            <span class="video-play-icon">
                                <span class="fa fa-play"></span>
                            </span>
                        </a>

                        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                            <iframe src="https://www.youtube.com/embed/a5KYlHNKQB8" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/team-sec-->
<section class="w3l-team">
    <div class="team py-5">
        <div class="container py-lg-3">
            <div class="header-section text-center mx-auto">
                <h3>Meet Our Skilled Teachers</h3>
                <p class="my-3">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>
            <div class="row team-row pt-3 mt-5">
                <div class="col-lg-3 col-sm-6 team-wrap">
                    <div class="team-info">
                        <div class="column position-relative img-circle">
                            <a href="#url"><img src="~/images/team1.jpg" alt="" class="img-fluid team-image" /></a>
                        </div>
                        <div class="column-btm">
                            <h3 class="name-pos"><a href="#url">Max Stoiber</a></h3>
                            <p>Founder & CEO</p>
                            <div class="social">
                                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end team member -->


                <div class="col-lg-3 col-sm-6 team-wrap mt-sm-0 pt-sm-0 mt-4 pt-2">
                    <div class="team-info">
                        <div class="column position-relative img-circle">
                            <a href="#url"><img src="~/images/team2.jpg" alt="" class="img-fluid team-image" /></a>
                        </div>
                        <div class="column-btm">
                            <h3 class="name-pos"><a href="#url">Dhony Abraham</a></h3>
                            <p>Managing Partner</p>
                            <div class="social">
                                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end team member -->

                <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">

                    <div class="team-info">
                        <div class="column position-relative img-circle">
                            <a href="#url"><img src="~/images/team3.jpg" alt="" class="img-fluid team-image" /></a>
                        </div>
                        <div class="column-btm">
                            <h3 class="name-pos"><a href="#url">Marko Dugonji</a></h3>
                            <p>Cheif Executive</p>
                            <div class="social">
                                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-6 team-wrap mt-lg-0 pt-lg-0 mt-4 pt-2">
                    <div class="team-info">
                        <div class="column position-relative img-circle">
                            <a href="#url"><img src="~/images/team4.jpg" alt="" class="img-fluid team-image" /></a>
                        </div>
                        <div class="column-btm">
                            <h3 class="name-pos"><a href="#url">Rhoda Byrd</a></h3>
                            <p>Technology Officer</p>
                            <div class="social">
                                <a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                                <a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end team member -->

            </div>
        </div>
</section>
<!--//team-sec-->
<!-- getstarted -->
<section class="w3l-getstarted py-5">
    <div class="container py-md-3 text-center">
        <div class="header-section mx-auto">
            <h3>Ready to get started? </h3>
            <p class="my-3"> We love conversations, and would love to have one with you! Whether you’re looking for a speaker, an awesome career, or want to get started with a rewards program, we would love hear from you.</p>
        </div>
        <div class="buttons mt-5">
            <a href="contact.html" class="btn btn-outline-primary mr-2 theme-button">Book a Demo</a>
            <a href="login.html" class="btn btn-primary theme-button ml-2">Get Started</a>
        </div>
    </div>
</section>

<!-- Template JavaScript -->
<!-- owl carousel -->
<script src="~/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-testimonials').owlCarousel({
            loop: false,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })</script>
<!-- //testimonials owlcarousel -->
<!-- logos for customers -->
<script>
    $(document).ready(function () {
        $('.owl-logos').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: false
                },
                667: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: false
                }
            }
        })
    })</script>
<!-- //logos owlcarousel -->
<!-- courses for customers -->
<script>
    $(document).ready(function () {
        $('.owl-courses').owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    })</script>
<!-- //courses owlcarousel -->
<!-- magnific popup -->
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });</script>

<!-- responsive tabs -->
<script src="~/js/easyResponsiveTabs.js"></script>

<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });</script>

<!-- stats number counter-->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>$('.counter').countUp();</script>
<!-- //stats number counter -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });</script>
<!-- disable body scroll which navbar is in active -->
<!-- / getstarted -->