
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Câu Hỏi Thường Gặp</h2>
        </div>
        <a href="index.html">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Câu Hỏi Thường Gặp</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- Body-->
<section class="w3l-faq py-5">
    <div class="faq-content py-lg-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-9 mx-auto">
                    <h4 class="mb-3 faq-page-title">online learning community</h4>
                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q1" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q2" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q3" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q3" class="panel-title">What happens if ipsum tempus est suscipit et vitae?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q4" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q4" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q5" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q5" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-8 col-md-9 mx-auto">
                    <h4 class="mb-3 faq-page-title">Course details</h4>
                    <div class="faq-question">
                        <input id="q6" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q6" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q7" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q7" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q8" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q8" class="panel-title">What happens if ipsum tempus est suscipit et vitae?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q9" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q9" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q10" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q10" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-lg-8 col-md-9 mx-auto">
                    <h4 class="mb-3 faq-page-title">Online/Offline Classrooms</h4>
                    <div class="faq-question">
                        <input id="q11" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q11" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q12" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q12" class="panel-title">What happens if ipsum tempus est suscipit et vitae?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q13" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q13" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q14" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q14" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--/Body-->