
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- index-block1 -->
<div class="w3l-index1">
    <div class="content">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 content-left">
                    <h3>
                        Thi Lái Xe Thật Dễ Với Web Chúng Tôi
                    </h3>
                    <p class="mt-3 mb-lg-5 mb-4">Chúc bạn may mắn lần sau!</p>
                    <form class="form-inline search-course d-flex">
                        <input type="search" class="form-control mb-2 mr-sm-2" id="inlineFormInput" placeholder="Tài liệu tham khảo" required="required">
                        <button type="submit" class="btn btn-primary theme-button mb-2">Bắt đầu thi</button>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- //index-block1 -->
<!-- index-block2 -->
<section class="w3l-index2 py-5">
    <div class="container py-md-3">
        <div class="header-section text-center mx-auto">
            <h3>Tại sao nên luyện thi tại đây ?</h3>
            <p class="my-3">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Nulla mollis dapibus nunc, ut rhoncus
                turpis sodales quis. Integer sit amet mattis quam.
            </p>
        </div>
        <div class="row bottom_grids pt-md-3 text-center">
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="blog-single.html" class="d-block p-lg-4 p-3">
                        <img src="~/images/s1.png" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Hệ thống luyện thi đơn giản</h3>
                        <p class="">Literacy is popularly understood as an ability to read, write and use numeracy in at least one method of writing. Build an online presence with this professional bootstrap 4 template.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="blog-single.html" class="d-block p-lg-4 p-3">
                        <img src="~/images/s3.png" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Tài liệu học tập đầy đủ</h3>
                        <p class="">Literacy is popularly understood as an ability to read, write and use numeracy in at least one method of writing. Build an online presence with this professional bootstrap 4 template.</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-5">
                <div class="s-block">
                    <a href="blog-single.html" class="d-block p-lg-4 p-3">
                        <img src="~/images/s2.png" alt="" class="img-fluid img-curve" />
                        <h3 class="my-3">Linh hoạt trong học tập luyện thi</h3>
                        <p class="">Literacy is popularly understood as an ability to read, write and use numeracy in at least one method of writing. Build an online presence with this professional bootstrap 4 template.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /index-block2 -->
<!-- index-block2 -->
<section class="w3l-index3 py-5">
    <div class="container py-md-3">
        <div class="header-section text-center mx-auto">
            <h3>Thư viện đề </h3>
            <p class="my-3">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Nulla mollis dapibus nunc, ut rhoncus
                turpis sodales quis. Integer sit amet mattis quam.
            </p>
        </div>
        <div class="row pt-md-3">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="accordion" id="accordionExample">
                    <div class="subject-card mt-4">
                        <div class="subject-card-header p-0" id="headingOne">
                            <a href="#" class="card__title p-3 p-lg-4 collapsed d-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                               aria-controls="collapseOne">
                                <div class="row">
                                    <div class="col-md-5 subject-img">
                                        <img src="~/images/s1.jpg" class="img-fluid img-curve" alt="" />
                                    </div>
                                    <div class="col-md-7 subject-content mt-md-0 mt-4">
                                        <h3>Bộ 200 câu lý thuyết hạng A1</h3>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quaerat voluptates nisi minus sed eligendi nam et atque
                                            perferendis dignissimos!
                                        </p>
                                        <span class="course-number"><span class="fa fa-graduation-cap" aria-hidden="true"></span> 20 Bộ đề</span>
                                        <p class="sub-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis in atque odio....</p>
                                    </div>
                                </div>
                                <span class="collapsed">
                                    Xem thêm  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </span>
                                <span class="expanded">
                                    Thu gọn <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                </span>
                            </a>

                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                            <div class="card-body p-3 p-lg-4">
                                <div class="row">
                                    <div class="col-md-6 pr-md-4">
                                        <div class="course-details">
                                            <h4>Why Study with Us?</h4>
                                            <ul>
                                                <li><img src="~/images/check.png" alt="tick"> overall student-athelete GPA for Spring 2020</li>
                                                <li><img src="~/images/check.png" alt="tick"> bachelor's recipients were employed or both within six months of</li>
                                                <li><img src="~/images/check.png" alt="tick"> gradueates hold a position related to their degree or career objective</li>
                                            </ul>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject features:</h4>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                            </ol>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject overview:</h4>
                                            <p class="mb-4">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur,
                                                consectetur, temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <a class="btn btn-light" href="courses.html">View all Courses</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-md-4 mt-md-0 mt-5">
                                        <div class="course-details">
                                            <h4>Subject overview:</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur, consectetur,
                                                temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <img src="~/images/banner.jpg" class="img-fluid img-curve my-3" alt="" />
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject benefits:</h4>
                                            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit perferendis dignissimos!</p>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subject-card mt-4">
                        <div class="subject-card-header p-0" id="headingTwo">
                            <a href="#" class="card__title p-3 p-lg-4 collapsed d-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                               aria-controls="collapseTwo">
                                <div class="row">
                                    <div class="col-md-5 subject-img">
                                        <img src="~/images/s2.jpg" class="img-fluid img-curve" alt="" />
                                    </div>
                                    <div class="col-md-7 subject-content mt-md-0 mt-4">
                                        <h3>Bộ 450 câu lý thuyết hạng A2</h3>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quaerat voluptates nisi minus sed eligendi nam et atque
                                            perferendis dignissimos!
                                        </p>
                                        <span class="course-number"><span class="fa fa-graduation-cap" aria-hidden="true"></span> 25 Bộ đề</span>
                                        <p class="sub-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis in atque odio....</p>
                                    </div>
                                </div>
                                <span class="collapsed">
                                    Xem thêm  <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </span>
                                <span class="expanded">
                                    Thu gọn <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="">
                            <div class="card-body para__style">
                                <div class="row">
                                    <div class="col-md-6 pr-md-4">
                                        <div class="course-details">
                                            <h4>Why Study with Us?</h4>
                                            <ul>
                                                <li><img src="~/images/check.png" alt="tick"> overall student-athelete GPA for Spring 2020</li>
                                                <li><img src="~/images/check.png" alt="tick"> bachelor's recipients were employed or both within six months of</li>
                                                <li><img src="~/images/check.png" alt="tick"> gradueates hold a position related to their degree or career objective</li>
                                            </ul>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject features:</h4>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                            </ol>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject overview:</h4>
                                            <p class="mb-4">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur,
                                                consectetur, temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <a class="btn btn-light" href="courses.html">View all Courses</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-md-4 mt-md-0 mt-5">
                                        <div class="course-details">
                                            <h4>Subject overview:</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur, consectetur,
                                                temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <img src="~/images/banner.jpg" class="img-fluid img-curve my-3" alt="" />
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject benefits:</h4>
                                            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit perferendis dignissimos!</p>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="subject-card mt-4">
                        <div class="subject-card-header p-0" id="headingThree">
                            <a href="#" class="card__title p-3 p-lg-4 collapsed d-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                               aria-controls="collapseThree">
                                <div class="row">
                                    <div class="col-md-5 subject-img">
                                        <img src="~/images/s3.jpg" class="img-fluid img-curve" alt="" />
                                    </div>
                                    <div class="col-md-7 subject-content mt-md-0 mt-4">
                                        <h3>Bộ 600 câu lý thuyết hạng B1</h3>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In quaerat voluptates nisi minus sed eligendi nam et atque
                                            perferendis dignissimos!
                                        </p>
                                        <span class="course-number"><span class="fa fa-graduation-cap" aria-hidden="true"></span> 30 Bộ đề</span>
                                        <p class="sub-para">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis in atque odio....</p>
                                    </div>
                                </div>
                                <span class="collapsed">
                                    Xem thêm <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </span>
                                <span class="expanded">
                                    Thu gọn <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="">
                            <div class="card-body para__style">
                                <div class="row">
                                    <div class="col-md-6 pr-md-4">
                                        <div class="course-details">
                                            <h4>Why Study with Us?</h4>
                                            <ul>
                                                <li><img src="~/images/check.png" alt="tick"> overall student-athelete GPA for Spring 2020</li>
                                                <li><img src="~/images/check.png" alt="tick"> bachelor's recipients were employed or both within six months of</li>
                                                <li><img src="~/images/check.png" alt="tick"> gradueates hold a position related to their degree or career objective</li>
                                            </ul>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject features:</h4>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                            </ol>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject overview:</h4>
                                            <p class="mb-4">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur,
                                                consectetur, temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <a class="btn btn-light" href="courses.html">View all Courses</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-md-4  mt-md-0 mt-5">
                                        <div class="course-details">
                                            <h4>Subject overview:</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nisi fuga natus quis velit tenetur, consectetur,
                                                temporibus ea quasi repellendus doloremque sit magnam dignissimos ut!
                                            </p>
                                            <img src="~/images/banner.jpg" class="img-fluid img-curve my-3" alt="" />
                                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="course-details mt-5">
                                            <h4>Subject benefits:</h4>
                                            <p class="mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit perferendis dignissimos!</p>
                                            <ol>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                                <li>bachelor's recipients were employed or both within six months of</li>
                                                <li>gradueates hold a position related to their degree or career objective</li>
                                                <li>overall student-athelete GPA for Spring 2020</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /index-block2 -->
<section class="w3l-testimonials" id="testimonials">
    <div class="testimonials py-5">
        <div class="container py-lg-3">
            <div class="header-section text-center mx-auto">
                <h3>THÔNG BÁO </h3>
                <p class="my-3">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>
            <div class="row mt-4">
                <div class="col-lg-9 col-md-10 mx-auto">
                    <div class="owl-testimonials owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="message">
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente quaerat et.</p>
                                    <div class="name mt-4">
                                        <h4>Isabella Mia</h4>
                                        <p>- United States</p>
                                    </div>
                                </div>
                                <div class="img-circle">
                                    <img src="~/images/team3.jpg" class="img-fluid testimonial-img" alt="client image">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="message">
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente quaerat et.</p>
                                    <div class="name mt-4">
                                        <h4>Benjamin Lucas</h4>
                                        <p>- Sweden</p>
                                    </div>
                                </div>
                                <div class="img-circle">
                                    <img src="~/images/team4.jpg" class="img-fluid testimonial-img" alt="client image">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="message">
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente quaerat et.</p>
                                    <div class="name mt-4">
                                        <h4>Oliver Bradley</h4>
                                        <p>- United Kingdom</p>
                                    </div>
                                </div>
                                <div class="img-circle">
                                    <img src="~/images/team1.jpg" class="img-fluid testimonial-img" alt="client image">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="message">
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda corporis deleniti praesentium doloremque. Repellendus soluta quos nemo quisquam consectetur temporibus quam obcaecati sapiente quaerat et.</p>
                                    <div class="name mt-4">
                                        <h4>William James</h4>
                                        <p>- United States</p>
                                    </div>
                                </div>
                                <div class="img-circle">
                                    <img src="~/images/team2.jpg" class="img-fluid testimonial-img" alt="client image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-index4 py-4">
    <div class="container py-lg-3 mt-3">
        <div class="row mt-4">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="row align-items-center">
                    <div class="col-lg-6 book-info pr-lg-5">
                        <h3 class="mb-md-4 mb-3">When Ambition Meets Opportunity, Anything is Possible.</h3>
                        <p class="mb-md-5 mb-4">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et est repellendus illum harum quam nihil totam
                            reprehenderit! Ut sed eveniet quos! Asperiores officia, repudiandae similique reiciendis, ab est magnam esse nesciunt ea fuga facere
                            voluptatem.
                        </p>
                        <a href="about.html" class="btn btn-outline-primary theme-button">Read More</a>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5">
                        <img src="~/images/stat.jpg" class="img-fluid shadow img-curve" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- stats -->
<section class="w3l-stats pb-5 pt-4" id="stats">
    <div class="gallery-inner container pb-lg-3">
        <div class="row mt-4">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="row stats-con align-items-stretch">
                    <div class="col-lg-4 col-sm-6">
                        <div class="stats_info counter_grid">
                            <p class="counter">1058</p>
                            <h4>Người dùng</h4>
                            <p>overall student-athelete GPA for Spring 2020. Lorem ipsum dolor sit amet.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mt-sm-0 mt-4">
                        <div class="stats_info counter_grid1">
                            <p class="counter">89</p>
                            <h4>Số phần thi đã làm </h4>
                            <p>bachelor's recipients were employed or both within six months of</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mt-lg-0 mt-sm-5 mt-4">
                        <div class="stats_info counter_grid">
                            <p class="counter">97</p>
                            <h4>Số phần thi đậu</h4>
                            <p>graduates hold a position related to their degree or career objective</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->
<!-- logos Section -->
<section class="w3l-logos pb-5">
    <div class="container py-lg-3">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="owl-logos owl-carousel owl-theme logo-view">
                    <div class="item">
                        <img src="~/images/logo1.png" alt="company-logo" class="img-fluid">
                    </div>
                    <div class="item">
                        <img src="~/images/logo2.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/images/logo3.png" alt="company-logo" class="img-fluid">

                    </div>
                    <div class="item">
                        <img src="~/images/logo4.png" alt="company-logo" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //logos Section -->
<section class="w3l-index5 py-5 text-center">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="header-section white join mb-5">
                    <h3>Thông tin hữu ích khác</h3>
                    <p class="my-3">Match your goals to our programs, explore your options and map out your path to success.</p>
                </div>
                <a href="login.html" class="btn btn-light theme-button">Hay tham gia với chúng tôi</a>
            </div>
        </div>
    </div>
</section>
<section class="w3l-faq py-5">
    <div class="faq-content py-lg-3">
        <div class="container">
            <div class="header-section mb-5 text-center mx-auto">
                <h3>Câu hỏi thường gặp </h3>
                <p class="my-3">
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                    Nulla mollis dapibus nunc, ut rhoncus
                    turpis sodales quis. Integer sit amet mattis quam.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-9 mx-auto">
                    <div class="faq-question">
                        <input id="q1" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q1" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q2" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q2" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q3" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q3" class="panel-title">What happens if ipsum tempus est suscipit et vitae?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q4" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q4" class="panel-title">What is nulla eu ipsum tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices amet rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor. Aenean facilisis erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue.erat posuere erat ornare ultrices. Aliquam ac arcu interdum,
                            dapibus nibh convallis, semper augue. Aenean facilisis erat posuere erat ornare ultrices.
                            Aliquam ac arcu interdum, dapibus nibh convallis, semper augue sed dolor amet sed et.
                        </div>
                    </div>
                    <div class="faq-question">
                        <input id="q5" type="checkbox" class="panel">
                        <div class="plus">+</div>
                        <label for="q5" class="panel-title">How much tempus est suscipit et vitae nulla?</label>
                        <div class="panel-content">
                            Nulla eu ipsum tempus est suscipit et vitae nulla. Once autet.
                            Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est suscipit et vitae nulla. Once
                            aute irure dolor
                        </div>
                    </div>
                    <div class="more text-center mt-5">
                        <a href="faq.html" class="btn btn-light theme-button">Xem thêm <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- courses Section -->
<section class="w3l-courses py-5">
    <div class="container py-lg-3">
        <div class="header-section mb-5 text-center mx-auto">
            <h3>Các phần thi nổi bật </h3>
            <p class="my-3">
                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                Nulla mollis dapibus nunc, ut rhoncus
                turpis sodales quis. Integer sit amet mattis quam.
            </p>
        </div>
        <div class="owl-courses owl-carousel owl-theme">
            <div class="item">
                <div class="course-grid">
                    <div class="course-img">
                        <a href="courses-single.html">
                            <img src="~/images/s4.jpg" alt=" " class="img-fluid">
                            <div class="price red">
                                <h4>$16.50</h4>
                            </div>
                        </a>
                    </div>
                    <div class="course-cont">
                        <span class="subject red">Mathematics</span>
                        <h5 class="card-title"><a href="courses-single.html">Learning to Write as a Professional Author</a></h5>
                        <ul class="admin-post">
                            <li>
                                <span class="fa fa-file-code-o"></span>22 Bài làm
                            </li>
                            <li>
                                <span class="fa fa-user-o"></span>26 Người dùng
                            </li>
                        </ul>
                        <a href="courses-single.html" class="blog-btn mt-3">Know More <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="course-grid">
                    <div class="course-img">
                        <a href="courses-single.html">
                            <img src="~/images/s5.jpg" alt=" " class="img-fluid">
                            <div class="price green">
                                <h4>$17.19</h4>
                            </div>
                        </a>
                    </div>
                    <div class="course-cont">
                        <span class="subject green">Phycology</span>
                        <h5 class="card-title"><a href="courses-single.html">Phần thi A1 - Đề 1</a></h5>
                        <ul class="admin-post">
                            <li>
                                <span class="fa fa-file-code-o"></span>18 Bài làm
                            </li>
                            <li>
                                <span class="fa fa-user-o"></span>15 Người dùng
                            </li>
                        </ul>
                        <a href="courses-single.html" class="blog-btn mt-3">Chi tiết<span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="course-grid">
                    <div class="course-img">
                        <a href="courses-single.html">
                            <img src="~/images/s6.jpg" alt=" " class="img-fluid">
                            <div class="price blue">
                                <h4>$19.09</h4>
                            </div>
                        </a>
                    </div>
                    <div class="course-cont">
                        <span class="subject blue">Digital Marketing</span>
                        <h5 class="card-title"><a href="courses-single.html">Phần thi A2 - Đề 7</a></h5>
                        <ul class="admin-post">
                            <li>
                                <span class="fa fa-file-code-o"></span>20 Bài làm
                            </li>
                            <li>
                                <span class="fa fa-user-o"></span>11 Người dùng
                            </li>
                        </ul>
                        <a href="courses-single.html" class="blog-btn mt-3">Chi tiết <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="course-grid">
                    <div class="course-img">
                        <a href="courses-single.html">
                            <img src="~/images/s1.jpg" alt=" " class="img-fluid">
                            <div class="price green">
                                <h4>$45.49</h4>
                            </div>
                        </a>
                    </div>
                    <div class="course-cont">
                        <span class="subject green">Computer Science</span>
                        <h5 class="card-title"><a href="courses-single.html">Phần thi B1 - Đề 4</a></h5>
                        <ul class="admin-post">
                            <li>
                                <span class="fa fa-file-code-o"></span>15 Bài làm
                            </li>
                            <li>
                                <span class="fa fa-user-o"></span>48 Người dùng
                            </li>
                        </ul>
                        <a href="courses-single.html" class="blog-btn mt-3">Chi tiết <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>

            </div>
            <div class="item">
                <div class="course-grid">
                    <div class="course-img">
                        <a href="courses-single.html">
                            <img src="~/images/s2.jpg" alt=" " class="img-fluid">
                            <div class="price red">
                                <h4>$28.15</h4>
                            </div>
                        </a>
                    </div>
                    <div class="course-cont">
                        <span class="subject red">Data Science</span>
                        <h5 class="card-title"><a href="courses-single.html">Phần thi A1 - Đề 14</a></h5>
                        <ul class="admin-post">
                            <li>
                                <span class="fa fa-file-code-o"></span>5 Bài làm
                            </li>
                            <li>
                                <span class="fa fa-user-o"></span>12 Người dùng
                            </li>
                        </ul>
                        <a href="courses-single.html" class="blog-btn mt-3">Chi tiết <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- //courses Section -->
<!-- subscribe section -->
<section class="w3l-subscribe py-5">
    <div class="container py-lg-3">
        <div class="row mt-4">
            <div class="col-lg-9 col-md-10 mx-auto">
                <div class="subscribe mx-auto">
                    <div class="header-section text-center mx-auto">
                        <h3>Tiếp tục được cập nhật </h3>
                        <p class="my-3">
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                            Nulla mollis dapibus nunc, ut rhoncus
                            turpis sodales quis. Integer sit amet mattis quam.
                        </p>
                    </div>
                    <form action="#" method="post" class="subscribe-wthree pt-2 mt-5">
                        <div class="d-flex flex-wrap subscribe-wthree-field">
                            <input class="form-control" type="email" placeholder="Enter your email..." name="email" required="">
                            <button class="btn btn-primary theme-button" type="submit">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //subscribe -->
<!-- getstarted -->
<section class="w3l-getstarted py-5">
    <div class="container py-md-3 text-center">
        <div class="header-section mx-auto">
            <h3>Đã sẵn sàng để bắt đầu </h3>
            <p class="my-3"> We love conversations, and would love to have one with you! Whether you’re looking for a speaker, an awesome career, or want to get started with a rewards program, we would love hear from you.</p>
        </div>
        <div class="buttons mt-5">
            <a href="contact.html" class="btn btn-outline-primary mr-2 theme-button">Tài liệu tham khảo</a>
            <a href="login.html" class="btn btn-primary theme-button ml-2">Bắt đầu thi</a>
        </div>
    </div>
</section>
<!-- / getstarted -->
<!-- Template JavaScript -->
<!-- owl carousel -->
<script src="~/js/owl.carousel.js"></script>

<!-- script for testimonials -->
<script>
    $(document).ready(function () {
        $('.owl-testimonials').owlCarousel({
            loop: false,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                480: {
                    items: 1,
                    nav: false
                },
                667: {
                    items: 1,
                    nav: false
                },
                1000: {
                    items: 1,
                    nav: false
                }
            }
        })
    })</script>
<!-- //testimonials owlcarousel -->
<!-- logos for customers -->
<script>
    $(document).ready(function () {
        $('.owl-logos').owlCarousel({
            loop: true,
            margin: 0,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 2,
                    nav: false
                },
                480: {
                    items: 2,
                    nav: false
                },
                667: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: false
                }
            }
        })
    })</script>
<!-- //logos owlcarousel -->
<!-- courses for customers -->
<script>
    $(document).ready(function () {
        $('.owl-courses').owlCarousel({
            loop: true,
            margin: 30,
            nav: false,
            responsiveClass: true,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplaySpeed: 1000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    })</script>
<!-- //courses owlcarousel -->
<!-- magnific popup -->
<script src="~/js/jquery.magnific-popup.min.js"></script>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
            type: 'inline',

            fixedContentPos: false,
            fixedBgPos: true,

            overflowY: 'auto',

            closeBtnInside: true,
            preloader: false,

            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-slide-bottom'
        });
    });</script>

<!-- responsive tabs -->
<script src="~/js/easyResponsiveTabs.js"></script>

<!--Plug-in Initialisation-->
<script type="text/javascript">
    $(document).ready(function () {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function (event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });</script>

<!-- stats number counter-->
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.countup.js"></script>
<script>$('.counter').countUp();</script>
<!-- //stats number counter -->
<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });</script>
<!-- disable body scroll which navbar is in active -->
<!--/MENU-JS-->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });</script>
<!--//MENU-JS-->
<!--theme switcher dark and light mode script-->
<script>
    const bodyElement = document.querySelector('body');
    const themeToggle = document.querySelector('#themeToggle');
    const darkModeMql = window.matchMedia('(prefers-color-scheme: dark)');

    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : userPreference(darkModeMql);

    if (currentTheme) {
        bodyElement.classList.add(currentTheme);

        if (currentTheme === 'dark') {
            themeToggle.checked = true;
        }
    }

    function userPreference(e) {
        if (e.matches) {
            bodyElement.classList.add("dark");
            return "dark"
        } else {
            bodyElement.classList.remove("dark");
            return ""
        }
    }

    darkModeMql.addListener(userPreference);

    function themeSwitcher(e) {
        if (e.target.checked) {
            bodyElement.classList.add('dark');
            localStorage.setItem('theme', 'dark');
        } else {
            bodyElement.classList.remove('dark');
            localStorage.setItem('theme', '');
        }
    }

    themeToggle.addEventListener('change', themeSwitcher);
</script>
<!--//theme switcher dark and light mode script-->