
@{
    ViewBag.Title = "QuyDinh";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="row align-items-center">
    <div class="col-lg-6 book-info pr-lg-5">
        <h3 class="mb-md-4 mb-3">Quy định khi thi lái xe</h3>
        <p class="mb-md-5 mb-4">
            Bước 1: Chuẩn bị hồ sơ đăng ký học lái xe máy
        </p>
        <p class="mb-md-5 mb-4">
            Bước 2: Học lý thuyết và thực hành :
            Sau khi đã hoàn thiện hồ sơ và nộp hồ sơ, bạn có thể đăng ký lịch học lý thuyết và thực hành. Trung tâm sẽ có trách nhiệm sắp xếp lịch học phù hợp nhất cho bạn.
            Tham gia các buổi học do trung tâm sát hạch lái xe tổ chức, được hướng dẫn cách học lý thuyết, hướng dẫn mẹo thi bằng lái xe máy đạt kết quả cao nhất cũng như giải đáp những thắc mắc về bài thi sát hạch.
        </p>
        <p class="mb-md-5 mb-4">
            Bước 3: Tham gia kỳ thi sát hạch cấp giấy phép lái xe máy:
            Sau khi nộp hồ sơ thi bằng lái xe máy từ 7-10 ngày, bạn sẽ được nhận thông báo lịch thi bằng lái xe máy hạng A1
            Các bạn sẽ làm bài thi lý thuyết và thi thực hành lái xe máy ngay trong 1 buổi, chỉ thi thực hành nếu qua bài thi lý thuyết.
            Thi đỗ bài thi lý thuyết mới được tham gia tiếp phần thi lái xe thực hành, không đỗ thì bạn phải chờ tới kì thi lần sau để thi tiếp ( từ 1-2 tuần có lịch thi lại trung tâm hoặc thầy sẽ báo bạn).
        </p>
        <p class="mb-md-5 mb-4">
            ......
        </p>
        <a href="about.html" class="btn btn-outline-primary theme-button">Xem thêm</a>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5">
        <img src="/images/stat.jpg" class="img-fluid shadow img-curve" alt="">
    </div>
</div>

