
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- Body -->


<body>
    <!-- breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper text-center">
            <div class="header-section">
                <h2 class="mb-2">SignIn</h2>
            </div>
            <a href="index.html">Home</a> » <span class="breadcrumb_last" aria-current="page">SignIn</span>
        </div>
    </nav>
    <!-- / breadcrumbs -->
    <!-- index-block1 -->
    <div class="w3l-index1">
        <div class="content">
            <div class="container">
                    <div class="col-auto">
                        <!-- Login Form-->
                        <section>
                            <div class="content-w3ls text-center">
                                <img src="~/images/admin.png" alt="" class="img-responsive">
                                <form action="#" method="post">
                                    <div class="wthree-field">
                                        <input name="text1" id="text1" type="text" value="" placeholder="Username" required>
                                    </div>
                                    <div class="wthree-field">
                                        <input name="password" id="myInput" type="Password" placeholder="Password">
                                    </div>
                                    <div class="wthree-field">
                                        <button type="submit" class="btn">Sign In</button>
                                    </div>
                                    <div class="login-bottom">
                                        <a href="https://localhost:44346/Home/SignUp" class="">Create An Account</a>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <!-- /Login Form-->
                    </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- //index-block1 -->