
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<!-- Body -->


<body>
    <!-- breadcrumbs -->
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper text-center">
            <div class="header-section">
                <h2 class="mb-2">Đăng nhập</h2>
            </div>
            <a href="index.html">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Đăng nhập</span>
        </div>
    </nav>
    <!-- / breadcrumbs -->
    <!-- index-block1 -->
    <div class="w3l-index1">
        <div class="content">
            <div class="container">
                    <div class="col-auto">
                        <!-- Login Form-->
                        <section>
                            <div class="content-w3ls text-center">
                                <img src="~/images/admin.png" alt="" class="img-responsive">
                                @using (Html.BeginForm())
                                {
                                <form action="#" method="post">
                                    <div class="wthree-field">
                                        <td> Tên đăng nhập</td>
                                        <td>
                                            @Html.TextBox("TenDN")
                                            @ViewData["Loi1"]
                                        </td>
                                    </div>
                                    <div class="wthree-field">
                                        <td>Mật khẩu</td> 
                                        <td>
                                            @Html.Password("Matkhau")
                                            @ViewData["Loi2"]
                                        </td>
                                    </div>
                                <div class="wthree-field">
                                    <button type="submit" class="btn">Đăng nhạpa</button>
                                </div>
                                <div class="login-bottom">
                                    <a href="https://localhost:44346/Home/SignUp" class="">Tạo tài khoản mới</a>
                                </div>
                                </form>
                                }
                            </div>
                        </section>
                        <!-- /Login Form-->
                    </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- //index-block1 -->