@model IEnumerable<DoAnMon.Models.BoDe>
<p class="lead"> Bộ Đề </p>
<div class="list-group">
    @foreach (var bode in Model)
    {
        <a href="@Url.Action("DeTheoBoDe","LoginHome", new {id = bode.MaBoDe})" class="list-group-item"></a>
        @bode.TenBoDe
    }
</div>
