
@{
    ViewBag.Title = "BoDeBank";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<h2>BoDeBank</h2>
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Thư Viện Đề </h2>
        </div>
        <a href="index.html">Trang chủ đăng nhập</a> » <span class="breadcrumb_last" aria-current="page">Thư Viện Đề </span>
    </div>
</nav>