
@{
    ViewBag.Title = "OnlineTest";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Kiểm Tra Trực Tuyến</h2>
        </div>
        <a @Html.ActionLink("Trang chủ Đăng Nhập", "LoginIndex", "LoginHome")</a> » <span class="breadcrumb_last" aria-current="page">Kiểm Tra Trực Tuyến</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<div class="content" style="">
    <form id="form2" name="form2" method="post" action="">
        <div class="row" id="group">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="panel panel-default" id="blockA">
                    <div class="panel-body">
                        <div style="margin-bottom:10px">
                            <strong style="font-size: 12pt; color: blue;">
                                Câu hỏi | Đề số: 01 - 200 Câu Hỏi Thi A1
                            </strong>
                        </div>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-1 active" id="show1" data-id="data1">
                            <input type="radio" id="1" name="chuyen_radio_tab_or_button" data-id="data1" checked="checked">1
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-2 active" id="show2" data-id="data2">
                            <input type="radio" id="2" name="chuyen_radio_tab_or_button" data-id="data2">2
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-3 active" id="show3" data-id="data3">
                            <input type="radio" id="3" name="chuyen_radio_tab_or_button" data-id="data3">3
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-4 active" id="show4" data-id="data4">
                            <input type="radio" id="4" name="chuyen_radio_tab_or_button" data-id="data4">4
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-5 active" id="show5" data-id="data5">
                            <input type="radio" id="5" name="chuyen_radio_tab_or_button" data-id="data5">5
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-6 active" id="show6" data-id="data6">
                            <input type="radio" id="6" name="chuyen_radio_tab_or_button" data-id="data6">6
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-7 active" id="show7" data-id="data7">
                            <input type="radio" id="7" name="chuyen_radio_tab_or_button" data-id="data7">7
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-8 active" id="show8" data-id="data8">
                            <input type="radio" id="8" name="chuyen_radio_tab_or_button" data-id="data8">8
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-9 active" id="show9" data-id="data9">
                            <input type="radio" id="9" name="chuyen_radio_tab_or_button" data-id="data9">9
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-10 active" id="show10" data-id="data10">
                            <input type="radio" id="10" name="chuyen_radio_tab_or_button" data-id="data10">10
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-11 active" id="show11" data-id="data11">
                            <input type="radio" id="11" name="chuyen_radio_tab_or_button" data-id="data11">11
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-12 active" id="show12" data-id="data12">
                            <input type="radio" id="12" name="chuyen_radio_tab_or_button" data-id="data12">12
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-13 active" id="show13" data-id="data13">
                            <input type="radio" id="13" name="chuyen_radio_tab_or_button" data-id="data13">13
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-14 active" id="show14" data-id="data14">
                            <input type="radio" id="14" name="chuyen_radio_tab_or_button" data-id="data14">14
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-15 active" id="show15" data-id="data15">
                            <input type="radio" id="15" name="chuyen_radio_tab_or_button" data-id="data15">15
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-16 active" id="show16" data-id="data16">
                            <input type="radio" id="16" name="chuyen_radio_tab_or_button" data-id="data16">16
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-17 active" id="show17" data-id="data17">
                            <input type="radio" id="17" name="chuyen_radio_tab_or_button" data-id="data17">17
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-18 active" id="show18" data-id="data18">
                            <input type="radio" id="18" name="chuyen_radio_tab_or_button" data-id="data18">18
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-19 active" id="show19" data-id="data19">
                            <input type="radio" id="19" name="chuyen_radio_tab_or_button" data-id="data19">19
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-20 active" id="show20" data-id="data20">
                            <input type="radio" id="20" name="chuyen_radio_tab_or_button" data-id="data20">20
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-21 active" id="show21" data-id="data21">
                            <input type="radio" id="21" name="chuyen_radio_tab_or_button" data-id="data21">21
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-22 active" id="show22" data-id="data22">
                            <input type="radio" id="22" name="chuyen_radio_tab_or_button" data-id="data22">22
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-23 active" id="show23" data-id="data23">
                            <input type="radio" id="23" name="chuyen_radio_tab_or_button" data-id="data23">23
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-24 active" id="show24" data-id="data24">
                            <input type="radio" id="24" name="chuyen_radio_tab_or_button" data-id="data24">24
                        </label>
                        <label class="btn btn-success btn-cauhoi clickcauhoi btn-25 active" id="show25" data-id="data25">
                            <input type="radio" id="25" name="chuyen_radio_tab_or_button" data-id="data25">25
                        </label>

                    </div>
                </div>

                <div class="panel panel-primary panel-heading" id="blockB">
                    <strong style="font-size: 12pt; color: blue;">
                        Thời gian còn lại: <span id="countdown" class="timer">16:40</span>
                    </strong>
                </div>

                <div class="panel panel-default" id="blockC">
                    <div class="panel-body-1">
                        <div class="text-center-1">
                            <input class="btn-1 btn-primary btn-block" type="submit" name="nopbai" id="nopbai" value="KẾT THÚC BÀI THI">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="panel panel-default" id="blockD">
                    <div class="panel-body">
                        <div>


                            <div class="row content ndcauhoi" style="margin-left: 10px; margin-right: 10px; display: block;" id="data1">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 1:</strong></div>
                                    <div style="text-align: justify;"><strong>Phần của đường bộ được sử dụng cho các phương tiện giao thông qua lại là gì ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="1" name="1[]" value="Phần mặt đường và lề đường. ">1- Phần mặt đường và lề đường. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="1" name="1[]" value="Phần đường xe chạy.">2- Phần đường xe chạy.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="1" name="1[]" value="Phần đường xe cơ giới.">3- Phần đường xe cơ giới.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data2">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 2:</strong></div>
                                    <div style="text-align: justify;"><strong>“Phương tiện tham gia giao thông đường bộ” gồm những loại nào ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="2" name="2[]" value="Phương tiện giao thông cơ giới đường bộ.">1- Phương tiện giao thông cơ giới đường bộ.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="2" name="2[]" value="Phương tiện giao thông thô sơ đường bộ và xe máy chuyên dùng.">2- Phương tiện giao thông thô sơ đường bộ và xe máy chuyên dùng.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="2" name="2[]" value="Cả ý 1 và ý 2.">3- Cả ý 1 và ý 2.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data3">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 3:</strong></div>
                                    <div style="text-align: justify;"><strong>* Sử dụng rượu bia khi lái xe, nếu bị phát hiện thì bị xử lý như thế nào ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/cauliet3.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="3" name="3[]" value="Chỉ bị nhắc nhở.">1- Chỉ bị nhắc nhở.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="3" name="3[]" value="Bị xử phạt hành chính hoặc có thể bị xử lý hình sự tùy theo mức độ vi phạm.">2- Bị xử phạt hành chính hoặc có thể bị xử lý hình sự tùy theo mức độ vi phạm.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="3" name="3[]" value="Không bị xử lý hình sự.">3- Không bị xử lý hình sự.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data4">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 4:</strong></div>
                                    <div style="text-align: justify;"><strong>Bạn đang lái xe phía trước có một xe cứu thương đang phát tín hiệu ưu tiên bạn có được phép vượt hay không ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="4" name="4[]" value="Không được vượt.">1- Không được vượt.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="4" name="4[]" value="Được vượt khi đang đi trên cầu.">2- Được vượt khi đang đi trên cầu.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="4" name="4[]" value="Được phép vượt khi đi qua nơi giao nhau có ít phương tiện cùng tham gia giao thông.">3- Được phép vượt khi đi qua nơi giao nhau có ít phương tiện cùng tham gia giao thông.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="4" name="4[]" value="Được vượt khi đảm bảo an toàn.">4- Được vượt khi đảm bảo an toàn.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data5">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 5:</strong></div>
                                    <div style="text-align: justify;"><strong>* Hành vi sử dụng xe mô tô để kéo, đẩy xe mô tô khác bị hết xăng đến trạm mua xăng có được phép hay không ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/cauliet14.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="5" name="5[]" value="Chỉ được kéo nếu đã nhìn thấy trạm xăng.">1- Chỉ được kéo nếu đã nhìn thấy trạm xăng.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="5" name="5[]" value="Chỉ được thực hiện trên đường vắng phương tiện cùng tham gia giao thông.">2- Chỉ được thực hiện trên đường vắng phương tiện cùng tham gia giao thông.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="5" name="5[]" value="Không được phép.">3- Không được phép.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data6">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 6:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển báo hiệu hình tròn có nền xanh lam có hình vẽ màu trắng là loại biển gì dưới đây ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/41.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="6" name="6[]" value="Biển báo nguy hiểm.">1- Biển báo nguy hiểm.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="6" name="6[]" value="Biển báo cấm.">2- Biển báo cấm.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="6" name="6[]" value="Biển báo hiệu lệnh phải thi hành. ">3- Biển báo hiệu lệnh phải thi hành. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="6" name="6[]" value="Biển báo chỉ dẫn.">4- Biển báo chỉ dẫn.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data7">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 7:</strong></div>
                                    <div style="text-align: justify;"><strong>Bạn đang lái xe trong khu vực đô thị từ 22 giờ đến 5 giờ sáng hôm sau và cần vượt một xe khác, bạn cần báo hiệu như thế nào để đảm bảo an toàn giao thông ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="7" name="7[]" value="Phải báo hiệu bằng đèn hoặc còi; ">1- Phải báo hiệu bằng đèn hoặc còi; </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="7" name="7[]" value="Chỉ được báo hiệu bằng còi.">2- Chỉ được báo hiệu bằng còi.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="7" name="7[]" value="Phải báo hiệu bằng cả còi và đèn. ">3- Phải báo hiệu bằng cả còi và đèn. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="7" name="7[]" value="Chỉ được báo hiệu bằng đèn.">4- Chỉ được báo hiệu bằng đèn.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data8">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 8:</strong></div>
                                    <div style="text-align: justify;"><strong>Người điều khiển phương tiện tham gia giao thông trong hầm đường bộ ngoài việc phải tuân thủ các quy tắc giao thông còn phải thực hiện những quy định nào dưới đây ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="8" name="8[]" value="Xe cơ giới, xe máy chuyên dùng phải bật đèn; xe thô sơ phải bật đèn hoặc có vật phát sáng báo hiệu; chỉ được dừng xe, đỗ xe ở nơi quy định.">1- Xe cơ giới, xe máy chuyên dùng phải bật đèn; xe thô sơ phải bật đèn hoặc có vật phát sáng báo hiệu; chỉ được dừng xe, đỗ xe ở nơi quy định.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="8" name="8[]" value="Xe cơ giới phải bật đèn ngay cả khi đường hầm sáng; phải cho xe chạy trên một làn đường và chỉ chuyển làn ở nơi được phép; được quay đầu xe, lùi xe khi cần thiết.">2- Xe cơ giới phải bật đèn ngay cả khi đường hầm sáng; phải cho xe chạy trên một làn đường và chỉ chuyển làn ở nơi được phép; được quay đầu xe, lùi xe khi cần thiết.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="8" name="8[]" value="Xe máy chuyên dùng phải bật đèn ngay cả khi đường hầm sáng; phải cho xe chạy trên một làn đường và chỉ chuyển làn ở nơi được phép; được quay đầu xe, lùi xe khi cần thiết.">3- Xe máy chuyên dùng phải bật đèn ngay cả khi đường hầm sáng; phải cho xe chạy trên một làn đường và chỉ chuyển làn ở nơi được phép; được quay đầu xe, lùi xe khi cần thiết.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data9">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 9:</strong></div>
                                    <div style="text-align: justify;"><strong>Trên đoạn đường hai chiều không có giải phân cách giữa, người lái xe không được vượt xe khác trong các trường hợp nào dưới đây ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="9" name="9[]" value="Xe bị vượt bất ngờ tăng tốc độ và cố tình không nhường đường.">1- Xe bị vượt bất ngờ tăng tốc độ và cố tình không nhường đường.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="9" name="9[]" value="Xe bị vượt giảm tốc độ và nhường đường.">2- Xe bị vượt giảm tốc độ và nhường đường.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="9" name="9[]" value="Phát hiện có xe đi ngược chiều.">3- Phát hiện có xe đi ngược chiều.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="9" name="9[]" value="Cả ý 1 và ý 3.">4- Cả ý 1 và ý 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data10">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 10:</strong></div>
                                    <div style="text-align: justify;"><strong>Khi điều khiển xe chạy với tốc độ dưới 60 km/h, để đảm bảo khoảng cách an toàn giữa hai xe, người lái xe phải điều khiển xe như thế nào ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="10" name="10[]" value="Chủ động giữ khoảng cách an toàn phù hợp với xe chạy liền trước xe của mình.">1- Chủ động giữ khoảng cách an toàn phù hợp với xe chạy liền trước xe của mình.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="10" name="10[]" value="Đảm bảo khoảng cách an toàn theo mật độ phương tiện, tình hình giao thông thực tế.">2- Đảm bảo khoảng cách an toàn theo mật độ phương tiện, tình hình giao thông thực tế.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="10" name="10[]" value="Cả ý 1 và ý 2.">3- Cả ý 1 và ý 2.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data11">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 11:</strong></div>
                                    <div style="text-align: justify;"><strong>Để báo hiệu cho xe phía trước biết xe mô tô của bạn muốn vượt, bạn phải có tín hiệu như thế nào dưới đây ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="11" name="11[]" value="Ra tín hiệu bằng tay rồi cho xe vượt qua.">1- Ra tín hiệu bằng tay rồi cho xe vượt qua.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="11" name="11[]" value="Tăng ga mạnh để gây sự chú ý rồi cho xe vượt qua. ">2- Tăng ga mạnh để gây sự chú ý rồi cho xe vượt qua. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="11" name="11[]" value="Bạn phải có tín hiệu bằng đèn hoặc còi.">3- Bạn phải có tín hiệu bằng đèn hoặc còi.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data12">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 12:</strong></div>
                                    <div style="text-align: justify;"><strong>* Khi điều khiển xe mô tô tay ga xuống đường dốc dài, độ dốc cao, người lái xe cần thực hiện các thao tác nào dưới đây để đảm bảo an toàn ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/cauliet19.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="12" name="12[]" value="Giữ tay ga ở mức độ phù hợp, sử dụng phanh trước và phanh sau để giảm tốc độ.">1- Giữ tay ga ở mức độ phù hợp, sử dụng phanh trước và phanh sau để giảm tốc độ.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="12" name="12[]" value="Nhả hết tay ga, tắt động cơ, sử dụng phanh trước và phanh sau để giảm tốc độ.">2- Nhả hết tay ga, tắt động cơ, sử dụng phanh trước và phanh sau để giảm tốc độ.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="12" name="12[]" value="Sử dụng phanh trước để giảm tốc độ kết hợp với tắt chìa khóa điện của xe.">3- Sử dụng phanh trước để giảm tốc độ kết hợp với tắt chìa khóa điện của xe.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data13">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 13:</strong></div>
                                    <div style="text-align: justify;"><strong>Tay ga trên xe mô tô hai bánh có tác dụng gì trong các trường hợp dưới đây ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/0.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="13" name="13[]" value="Để điều khiển xe chạy về phía trước.">1- Để điều khiển xe chạy về phía trước.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="13" name="13[]" value="Để điều tiết công suất động cơ qua đó điều khiển tốc độ của xe. ">2- Để điều tiết công suất động cơ qua đó điều khiển tốc độ của xe. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="13" name="13[]" value="Để điều khiển xe chạy lùi.">3- Để điều khiển xe chạy lùi.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="13" name="13[]" value="Cả ý 1 và ý 2.">4- Cả ý 1 và ý 2.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data14">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 14:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào cấm xe rẽ trái ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/105.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="14" name="14[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="14" name="14[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="14" name="14[]" value="Cả hai biển.">3- Cả hai biển.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data15">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 15:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào dưới đây các phương tiện không được phép đi vào ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/113.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="15" name="15[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="15" name="15[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="15" name="15[]" value="Biển 1 và 2.">3- Biển 1 và 2.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data16">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 16:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào xe mô tô hai bánh không được đi vào ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/121.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="16" name="16[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="16" name="16[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="16" name="16[]" value="Biển 3.">3- Biển 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data17">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 17:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào báo hiệu nguy hiểm giao nhau với đường sắt ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/129.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="17" name="17[]" value="Biển 1 và 2.">1- Biển 1 và 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="17" name="17[]" value="Biển 1 và 3.">2- Biển 1 và 3.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="17" name="17[]" value="Biển 2 và 3. ">3- Biển 2 và 3. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="17" name="17[]" value="Cả ba biển.">4- Cả ba biển.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data18">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 18:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào báo hiệu “Đường giao nhau” của các tuyến đường cùng cấp ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/137.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="18" name="18[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="18" name="18[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="18" name="18[]" value="Biển 3.">3- Biển 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data19">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 19:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào chỉ dẫn nơi bắt đầu đoạn đường dành cho người đi bộ ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/145.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="19" name="19[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="19" name="19[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="19" name="19[]" value="Biển 3.">3- Biển 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data20">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 20:</strong></div>
                                    <div style="text-align: justify;"><strong>Biển nào dưới đây báo hiệu hết cấm vượt ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/153.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="20" name="20[]" value="Biển 1.">1- Biển 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="20" name="20[]" value="Biển 2.">2- Biển 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="20" name="20[]" value="Biển 3.">3- Biển 3.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="20" name="20[]" value="Biển 2 và 3.">4- Biển 2 và 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data21">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 21:</strong></div>
                                    <div style="text-align: justify;"><strong>Vạch kẻ đường nào dưới đây là vạch phân chia hai chiều xe chạy (vạch tim đường), xe không được lấn làn, không được đè lên vạch ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/161.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="21" name="21[]" value="Vạch 1.">1- Vạch 1.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="21" name="21[]" value="Vạch 2.">2- Vạch 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="21" name="21[]" value="Vạch 3.">3- Vạch 3.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="21" name="21[]" value="Cả 3 vạch.">4- Cả 3 vạch.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data22">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 22:</strong></div>
                                    <div style="text-align: justify;"><strong>Xe nào được quyền đi trước trong trường hợp này ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/169.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="22" name="22[]" value="Mô tô.">1- Mô tô.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="22" name="22[]" value="Xe cứu thương.">2- Xe cứu thương.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data23">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 23:</strong></div>
                                    <div style="text-align: justify;"><strong>Xe tải kéo mô tô ba bánh như hình này có đúng quy tắc giao thông không ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/177.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="23" name="23[]" value="Đúng.">1- Đúng.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="23" name="23[]" value="Không đúng.">2- Không đúng.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data24">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 24:</strong></div>
                                    <div style="text-align: justify;"><strong>Theo hướng mũi tên, những hướng nào xe mô tô được phép đi ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/185.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="24" name="24[]" value="Cả ba hướng. ">1- Cả ba hướng. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="24" name="24[]" value="Hướng 1 và 2.">2- Hướng 1 và 2.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="24" name="24[]" value="Hướng 1 và 3.">3- Hướng 1 và 3.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="24" name="24[]" value="Hướng 2 và 3.">4- Hướng 2 và 3.</label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="row content ndcauhoi" style="margin-left:10px; margin-right:10px;" id="data25">
                                <div class="row ">

                                    <div class="text-primary"><strong>Câu hỏi 25:</strong></div>
                                    <div style="text-align: justify;"><strong>Các xe đi theo hướng mũi tên, xe nào vi phạm quy tắc giao thông ?</strong></div>
                                    <img class="img-responsive hinhnho" src=" ~/images/193.jpg" style="margin-left: auto;margin-right: auto;">

                                </div><div class="row">
                                    <div class="col-md-12">
                                        <div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="25" name="25[]" value="Xe con, xe tải, xe khách.">1- Xe con, xe tải, xe khách.</label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="25" name="25[]" value="Xe tải, xe khách, xe mô tô. ">2- Xe tải, xe khách, xe mô tô. </label>
                                        </div><div class="cautraloi">
                                            <label class="checkbox-inline"><input class="question radio-answer" type="radio" data-id="25" name="25[]" value="Xe khách, xe mô tô, xe con. ">3- Xe khách, xe mô tô, xe con. </label>
                                        </div><table>
                                            <tbody>
                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>

                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div>
                                <ul class="pager">
                                    <li class="previous cautruoc"><a href="javascript:void(0);">Câu trước</a></li>
                                    <li class="next causau"><a href="javascript:void(0);">Câu tiếp theo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!--Scripts-->
        <script>
            var seconds = 1140;
            function timer() {
                var days = Math.floor(seconds / 24 / 60 / 60);
                var hoursLeft = Math.floor((seconds) - (days * 86400));
                var hours = Math.floor(hoursLeft / 3600);
                var minutesLeft = Math.floor((hoursLeft) - (hours * 3600));
                var minutes = Math.floor(minutesLeft / 60);
                var remainingSeconds = seconds % 60;
                if (remainingSeconds < 10) {
                    remainingSeconds = "0" + remainingSeconds;
                }
                document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
                if (seconds == -1) {
                    clearInterval(countdownTimer);
                    confirm("Hết thời gian");
                    $('#form2').submit();
                    document.getElementById('countdown').innerHTML = "Finish!";
                } else {
                    seconds--;
                }
            }
            var countdownTimer = setInterval('timer()', 1000);//chỗ này là số 1000 là đúng.
        </script>
        <script>
            $(document).ready(function () {
                // alert("helloworld");
                $("input[name='chuyen_radio_tab_or_button']:eq(0) ").attr("checked", "checked");
            });
        </script>
        <script>
            $(document).ready(function () {
                $(".radio-answer").click(function (event) {

                    let id = $(this).attr('data-id');
                    $('.btn-' + id).removeClass("active");
                    $('.btn-' + id).addClass("choose");

                });

            });
        </script>
    </form>>
</div>
