
@{
    ViewBag.Title = "OnlineTest";
    Layout = "~/Views/_LayoutPage2.cshtml";
}
<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Kiểm Tra Trực Tuyến</h2>
        </div>
        <a href="index.html">LoginHome</a> » <span class="breadcrumb_last" aria-current="page">Kiểm Tra Trực Tuyến</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->