
@{
    ViewBag.Title = "TestBank";
    Layout = "~/Views/_LayoutPage2.cshtml";
}

<!-- contact breadcrumbs -->
<nav id="breadcrumbs" class="breadcrumbs">
    <div class="container page-wrapper text-center">
        <div class="header-section">
            <h2 class="mb-2">Thư Viện Đề</h2>
        </div>
        <a href="index.html">LoginHome</a> » <span class="breadcrumb_last" aria-current="page">Thư Viện Đề</span>
    </div>
</nav>
<!-- /contact breadcrumbs -->
<!-- index-block1 -->
<section class="w3l-blog">
    <div class="single blog pb-5 pt-md-4 pt-2">
        <div class="container pb-lg-3">
            <div class="row">
                <!-- left side blog post content -->
                <div class="blog-posts col-lg-8 pr-lg-0">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b52.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>

                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Learn by doing with Real World Projects</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Alexander</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>May 11, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>HTML</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b22.jpg" alt=" " class="img-fluid">

                                    </a>
                                </div>
                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Using Creative Problem Solving lorem ipsum</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Johnson</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>Aug 21, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>Javascript</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b62.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>

                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Learn by doing with Real World Projects</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Alexander</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>May 11, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>HTML</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b12.jpg" alt=" " class="img-fluid">

                                    </a>
                                </div>
                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Using Creative Problem Solving lorem ipsum</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Johnson</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>Aug 21, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>Javascript</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b32.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>

                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Learn by doing with Real World Projects</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Alexander</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>May 11, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>HTML</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b42.jpg" alt=" " class="img-fluid">

                                    </a>
                                </div>
                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Using Creative Problem Solving lorem ipsum</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Johnson</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>Aug 21, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>Javascript</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b72.jpg" alt=" " class="img-fluid">
                                    </a>
                                </div>

                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Learn by doing with Real World Projects</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Alexander</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>May 11, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>HTML</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="blog-post">
                                <div class="blg-img">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b22.jpg" alt=" " class="img-fluid">

                                    </a>
                                </div>
                                <div class="btom-cont">
                                    <h5 class="card-title"><a href="https://localhost:44346/LoginHome/TestPost">Using Creative Problem Solving lorem ipsum</a></h5>
                                    <ul class="admin-post">
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-user-o"></span> Johnson</a>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o"></span>Aug 21, 2020
                                        </li>
                                        <li>
                                            <a href="https://localhost:44346/LoginHome/TestPost"><span class="fa fa-folder-open-o"></span>Javascript</a>
                                        </li>
                                    </ul>
                                    <p class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut debitis at, vitae laborum nemo voluptatibus! Rerum aliquam cum veritatis quo quos, illo cumque optio suscipit.</p>
                                    <a href="https://localhost:44346/LoginHome/TestPost" class="blog-btn mt-3">Continue <span class="fa fa-long-arrow-right" aria-hidden="true"></span></a>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- pagination -->
                    <div class="pagination-wrapper mt-lg-5">
                        <ul class="page-pagination">
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#url">2</a></li>
                            <li><a class="page-numbers" href="#url">3</a></li>
                            <li><a class="page-numbers" href="#url">4</a></li>
                            <li><a class="page-numbers" href="#url">....</a></li>
                            <li><a class="page-numbers" href="#url">15</a></li>
                            <li><a class="next" href="#url"><span class="fa fa-angle-right"></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- left side blog post content -->
                <!-- right side bar -->
                <div class="right-side-bar col-lg-4 pl-lg-5">
                    <aside>
                        <h3 class="aside-title mb-3">Search</h3>
                        <form class="form-inline search-form" action="#" method="post">
                            <input class="form-control" type="search" placeholder="Search here" aria-label="email" required="">
                            <button class="btn search" type="submit"><span class="fa fa-search"></span></button>
                        </form>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">All Categories</h3>
                        <ul class="category">
                            <li><a href="#link"><span class="fa fa-angle-right"></span>All <label> (11)</label></a></li>
                            <li><a href="#link"><span class="fa fa-angle-right"></span> Arts &amp; culture <label>(24)</label></a></li>
                            <li><a href="#link"><span class="fa fa-angle-right"></span> Marketing <label>(18)</label></a></li>
                            <li><a href="#link"><span class="fa fa-angle-right"></span> HTML <label>(08)</label></a></li>
                            <li><a href="#link"><span class="fa fa-angle-right"></span> Javascript <label>(38)</label></a></li>
                            <li><a href="#link"><span class="fa fa-angle-right"></span> Phthon <label>(26)</label></a></li>
                        </ul>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Recent Posts</h3>
                        <div class="posts-grids">
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b52.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Python and JS Course may be online</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>Feb 11, 2020</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b22.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Expand business mass other countries plan</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>May 21, 2020</span>
                                </div>
                            </div>
                            <div class="posts-grid-inner">
                                <div class="posts-grid-left pr-0">
                                    <a href="https://localhost:44346/LoginHome/TestPost">
                                        <img src="~/images/b32.jpg" alt=" " class="img-fluid img-curve">
                                    </a>
                                </div>
                                <div class="posts-grid-right">
                                    <h4>
                                        <a href="https://localhost:44346/LoginHome/TestPost" class="text-bl">Psychology may be you completed online</a>
                                    </h4>
                                    <span> <span class="fa fa-clock-o"></span>Aug 15, 2020 </span>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <aside class="posts p-4">
                        <h3 class="aside-title">Gallery</h3>
                        <div class="posts-grid">
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b12.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b22.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b32.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b42.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b52.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                            <a href="https://localhost:44346/LoginHome/TestPost">
                                <img src="~/images/b62.jpg" alt=" " class="img-fluid img-curve">
                            </a>
                        </div>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Meta</h3>
                        <ul class="tags-list">
                            <li><a href="#tag">Login</a></li>
                            <li><a href="#tag"> HTML</a></li>
                            <li><a href="#tag"> Course</a></li>
                            <li><a href="#tag"> Javascript</a></li>
                            <li><a href="#tag"> Python</a></li>
                            <li><a href="#tag"> MySql</a></li>
                            <li><a href="#tag"> Php</a></li>
                            <li><a href="#tag"> HTML</a></li>
                            <li><a href="#tag"> Course</a></li>
                            <li><a href="#tag"> Javascript</a></li>
                        </ul>
                    </aside>
                    <aside class="posts p-4">
                        <h3 class="aside-title">Advertisement</h3>
                        <a href="https://localhost:44346/LoginHome/TestPost">
                            <img src="~/images/stat2.jpg" alt=" " class="img-fluid img-curve">
                        </a>
                    </aside>
                </div>
                <!-- //right side bar -->
            </div>
        </div>
    </div>
</section>
<!-- //index-block1 -->